<img class="topimage" src="app/images/aboutUs.png"/>

<div class="gray">

    <div  style="margin-right: 50px;justify-content: space-between;">
        <h4><b>关于我们</b></h4>
        <p>福建风灵创景科技有限公司（以下简称：风灵创景）成立于 2010 年，为实现百度分拆上市战略布局，2015 年 7 月百度将旗下 91 桌面等系列产品纳入风灵创景独立运营。风灵创景致力于为全球移动用户提供更快速，更便捷的移动互联网体验，成为最具影响力的移动应用开发商。公司成立至今，已累计获得国家各类知识产权逾 50 件，居行业领先水平。</p>
        <p>公司先后推出多款平台类产品，包括手机个性美化工具 91 桌面、点心桌面、手机系统管理工具 91锁屏、时尚生活服务应用黄历天气等。其中 91 桌面用户已超3亿，在第三方手机桌面市场行业排名第一。</p>
        <p>2015年，公司全面铺开海外移动工具、内容平台产品建设矩阵，涉足全球市场，包括印度、美国、东南亚国家。陆续推出 Mobo Launcher、 91 Launcher、 Mobo Genius、 Dorado Pixel Phone 等多款产品，打造全球化移动应用平台。</p>
        <p>公司以深远的战略布局及广阔的发展潜力，获得资本市场的认可，百度是风灵创景第一大股东，同时引入嘉御基金、游族网络等各大知名 PE 和上市公司的资本投入。</p>
        <p>热忱欢迎加入我们的团队，共创全球最具影响力的移动应用开发平台！</p>
        <p><b>薪酬福利：</b></p>
        <p><b>1、丰厚的薪酬待遇：</b>月基薪+奖金+福利（交通补贴、餐饮补贴、电话补贴）；<br>
            <b>2、完善的福利保障：</b> 五险一金+商业保险（公积金缴纳基数为工资全额，上缴比例为12%)；<br>
            <b>3、个性化上班制：</b>弹性工作制，工作时间自由安排；<br>
            <b>4、超长带薪年假：</b>10天以上带薪年假；<br>
            <b>5、丰富的季度Team Building：</b>每季度部门团建活动，工作、娱乐两相宜；<br>
            <b>6、贴心的小福利：</b>提供水吧，轻松享受下午茶；员工生日关怀，礼物任选。 </p>
    </div>

    <div>
        <h4><b>里程碑</b></h4>
        <h5>2016</h5>
        <p>2016.03 PixelPhone完成收购，以风灵成员身份正式发布
            <br>2016.02 Dorado Genius正式发布</p>
        <h5>2015</h5>
        <p>2015.12 Dorado Shine正式发布
            <br>2015.10 91桌面用户数突破3亿</p>
        <h5>2014</h5>
        <p>2014.09 91桌面用户数突破2亿</p>
        <h5>2013</h5>
        <p>2013.10 91桌面用户数突破1亿</p>
        <h5>2012</h5>
        <p>2012.12 91桌面用户数突破5000万
            <br>2012.09 91熊猫桌面正式更名为“91桌面”</p>
        <h5>2011</h5>
        <p>2011.11安卓桌面正式发布
           <br> 2011.06 点心桌面正式发布
           <br> 2011.04 91熊猫桌面用户数突破500W</p>
        <h5>2010</h5>
        <p>2010.10 91熊猫桌面 for iPhone正式上线
            <br>2010.06 91熊猫桌面用户数突破100W</p>
        <h5>2009</h5>
        <p>2009.06熊猫桌面 for Android正式上线</p>
    </div>


    <div  style="margin-left: 50px;">
        <h4><b>荣誉</b></h4>
        <p>2015年百度移动“中国好应用”年度颁奖盛典--91桌面获得年度最佳主题应用大奖</p>
        <p>2015年易观智库A10峰会 暨 易观之星颁奖盛典--91桌面获得TOP APP “易观之星”</p>
        <p>Donews 2015年互联网行业颁奖盛典--91桌面获得“移动互联网行业年度最具潜力应用”</p>
        <p>2014年中国好应用大赛--91桌面获得中国百强好应用</p>
        <p>2014年百度91应用平台--91桌面获得最酷系统工具奖</p>
        <p>2014年MICC--安卓桌面获得年度产品创新奖</p>
        <p>2013年Mworld年度盛典--91桌面获得中国移动应用隐私安全榜APP100</p>
        <p>2013年中国好应用大赛--91桌面获得中国百强好应用</p>
        <p>2012年优秀应用大赛--91桌面获得最受新浪微博用户欢迎应用</p>
    </div>
</div>



