<div  class="privacy">
    <h4  style="color:#3c79e6;">免责声明</h4>
    <p>我公司产品（包括但不限于：91桌面、黄历天气、91锁屏、羞兔、点心桌面、安卓桌面）内容，包括以链接形式推荐的其他网站内容，在法律允许的最大范围内，我公司不担保这些内容、产品、服务或其他材料的真实性、完整性、安全性和合法性。用户应谨慎判断并自担风险，避免任何因使用或信赖此类内容、产品、服务或其他材料而造成的任何直接或间接损失。<br>

        我公司一贯高度重视知识产权保护并遵守中国各项知识产权法律、法规和具有约束力的规范性文件，重视正版，打击盗版。根据相关法律、法规和规范性文件要求，我公司制定了旨在保护权利人的合法权益的措施和步骤，当权利人发现在应用内容侵犯其合法权益时，权利人应事先向我公司发出“权利通知”， 我公司将根据中国法律法规和政府规范性文件采取措施移除相关内容或屏蔽相关链接。待权利人和应用开发、提交者之间的相关法律问题得到解决后，我公司可以恢复被处理的内容。<br>

        具体措施和步骤如下：</p>
    <h5><b>权利通知</b></h5>
    <p>任何个人或单位如果符合以下条件：<br>

        1、权利人发现我公司产品用户利用我公司产品及其服务侵害其合法权益；<br>

        2、请上述个人或单位务必以书面的通讯方式向我公司提交权利通知。<br>

        请注意：如果权利通知的陈述失实，权利通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。 如果上述个人或单位不确定我公司产品内可获取的资料是否侵犯了其合法权益，我公司建议该个人或单位首先咨询专业人士。<br>

        为能有效处理上述个人或单位的权利通知，请使用以下格式（包括各条款的序号）：<br>

        1. 权利人对涉嫌侵权内容拥有商标权、著作权和/或其他依法可以行使权利的权属证明；<br>

        2. 请充分、明确地描述确信被侵犯了权利人合法权益的内容并请提供非法登载该作品的访问地址。<br>

        3. 请指明涉嫌侵权具体链接地址下的哪些内容侵犯了第2项中列明的权利人的合法权益。<br>

        4. 请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件。<br>

        5. 请提供涉嫌侵权内容在信息网络上的位置（如指明您举报的含有侵权内容的出处，即：指网页地址或网页内的位置）以便我们与您举报的含有侵权内容的帐号的所有权人/管理人联系。<br>

        6. 请在权利通知中加入如下关于通知内容真实性的声明：<br>

        a."我本人为所投诉内容的合法权利人；<br>

        b.在我举报的访问地址下登载的内容侵犯了本人相应的合法权益。<br>

        c.本人确认：如果本权利通知内容不完全属实，本人将承担由此产生的一切法律责任。"<br>

        7. 请在权利通知中加入以下陈述："我保证，本通知中所述信息是充分、真实、准确的，我是所投诉内容的合法权利人，或，我已获授权，有权行使第2项中列明内容的权益。"<br>

        8. 请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。<br>

        请您把以上资料和联络方式反馈至<span  style="color: red;">support@felink.com</span>邮箱。</p>
    <h5><b>反通知</b></h5>
    <p>我公司根据前述通知移除相关内容的，被移除内容的内容提供者可以依法向我公司发出关于被移除内容不侵犯著作权 或其他合法权益的反通知。反通知发出后，我公司可以恢复被移除的内容，且依法对该恢复行为不承担法律责任。<br>

        请注意：如果您"反通知"的陈述失实，您将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。如果您不 确定我公司产品内可获取的资料是否侵犯了他人的权利，我们建议您首先咨询专业人士。<br>

        为了便于我们处理您的反对通知，请使用以下格式（包括各条款的序号）：<br>

        1. 请指明被我公司移除的信息或内容及其访问地址。<br>

        2. 被移除内容的合法性证明，包括但不限于您对已移除的内容拥有著作权或其他合法权益的权属证明或您可以合法使用该作品或该内容的证明。<br>

        3. 请提供具体的联络信息， 包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件。<br>

        4. 请在反通知中加入如下关于反通知内容真实性的声明：<br>

        a."我本人为该作品/该内容的合法权利人；<br>

        b.我有权或已获授权提供或刊登上述被移除的信息或内容。<br>

        c.本人确认：如果本"反通知"内容不完全属实，本人将承担由此产生的一切法律责任。"<br>

        5. 请在反通知中加入以下陈述："我保证，本反通知中所述信息是充分、真实、准确的，我是该作品/该内容的合法权利人，或我已获授权或依法可以使用第2项中列明作品/内容。"<br>

        6. 请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。<br>

        请您把以上资料和联络方式反馈至<span  style="color: red;">support@felink.com</span>邮箱。</p>

</div>