<div  class="footer"  ng-controller="FooterCtrl">
    <table  class="grid">
        <thead>
        <tr>
            <td class="font"><b>关于我们</b></td>
            <td class="font"><b>帮助与支持</b></td>
            <td class="font"><b>互动关注</b></td>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td><a class="afooter" href="#/about">公司介绍</a></td>
            <td><a class="afooter" href="#/support">支持中心</a></td>
            <td><a class="afooter" href=""  ng-click="openWindow()">我的微博</a></td>
        </tr>

        <tr>
            <td><a class="afooter" href="#/privacy">隐私条款</a></td>
            <td><a class="afooter" href="#/problem">常见问题</a></td>
            <td><a class="afooter" ng-click="openWechat()" href="">我的微信</a></td>
        </tr>

        <tr>
            <td><a class="afooter" href="#/disclaimer">免责声明</a></td>
            <td></td>
            <td><a  class="afooter" href="">官方邮箱</a></td>
        </tr>

        <tr>
            <td><a class="afooter" href="#/join">加入我们</a></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><a class="afooter" href="#/indulged">防沉迷,家长监护</a></td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>
</div>