
<div id="myCarousel" class="carousel slide" ng-controller="MainCtrl">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slie-to="3"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="app/images/pic1.jpg" alt="First slide"/>
            <!--<div class="carousel-caption">topic1</div>-->
        </div>
        <div class="item">
            <img src="app/images/pic2.jpg" alt="Second slide"/>
            <!--<div class="carousel-caption">topic2</div>-->
        </div>
        <div class="item">
            <img src="app/images/pic3.jpg" alt="Third slide"/>
            <!--<div class="carousel-caption">topic3</div>-->
        </div>
        <div class="item">
            <img src="app/images/pic4.jpg" alt="Fouth slide"/>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" data-slide="prev" href="#myCarousel">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-slide="next" href="#myCarousel">
        <!--href="#myCarousel"-->
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="app1">
    <div class="left">
        <a href=""><img class="leftImage" src="./app/images/91desk.png"/>

            <p>91桌面</p>

            <p> DIY混搭，绘出你个性</p>
        </a>
    </div>
    <div class="middle">
        <a href=""><img class="middleImage" src="./app/images/91lock.png"/>

            <p>91锁屏</p>

            <p>最简单实用的锁屏软件</p>
        </a>
    </div>
    <div class="right">
        <a href=""><img class="rightImage" src="./app/images/androidDesk.png"/>

            <p>安卓桌面</p>

            <p>智能桌面，与众不同</p>
        </a>
    </div>
</div>

<div class="app2">
    <div class="left">
        <a href=""><img class="leftImage" src="app/images/weather.png"/>

            <p>黄历天气</p>

            <p>好天气好运气</p>
        </a>
    </div>
    <div class="middle">
        <a href=""><img class="middleImage" src="app/images/desk.png"/>

            <p>点心桌面</p>

            <p>简单好用，独一无二</p>
        </a>
    </div>
    <div class="right">
        <a href=""><img class="rightImage" src="app/images/rabbit.png"/>

            <p>羞兔</p>

            <p>超好玩的贴纸相机</p>
        </a>
    </div>
</div>
