<nav ng-controller="NavbarCtrl">
    <img class="logo" src="./app/images/logo.jpg"/>
    <!--<nav>-->
    <div>
        <ul>
            <li><a class="a" href="#/">首页</a></li>
            <li><a class="a" href="">产品</a>
                <ul class="hid">
                    <li><a href="">91桌面</a></li>
                    <li><a href="">黄历天气</a></li>
                    <li><a href="">91锁屏</a></li>
                    <li><a href="">羞兔</a></li>
                    <li><a href="">点心桌面</a></li>
                    <li><a href="">Mobo桌面</a></li>
                </ul>
            </li>
            <li><a class="a" href="">游戏</a></li>
            <li><a class="a" href="#/support">支持</a></li>
            <li><a class="a" href="#/about">关于</a></li>
        </ul>
    </div>
    <!--</nav>-->

    <!--<div class="popup" ng-mouseenter="hover()"  ng-mouseleave="leave()" ng-show="product">-->
    <!--</div>-->

</nav>