<img class="topImage" src="app/images/support.jpg"/>

<div class="support" >
    <div  class="first"  >
        <a  style="font-color:#000000;" href="#/faq"><img src="app/images/faq.png"/>

            <p>FAQ</p></a>

    </div>
    <div  class="second"  >
        <a  href="#/about"><img src="app/images/about.png"/>

            <p>关于我们</p></a>

    </div>
    <div  class="thrid"  >
        <a  href="#/contact"> <img src="app/images/contactus.png"/>

            <p>联系我们</p></a>

    </div>
    <div  class="fourth"  >
        <a  href="#/join"><img src="app/images/join.png"/>

            <p>加入我们</p></a>

    </div>
</div>

